
  <%- include ('partials/header') %>
<h1 class="text-center text-white">Find the lyrics to favorite song!</h1>
<div class="container well fs-4">
  <form action="" method="get">
    <label class="text-white"> Enter artist:
      <input class="px-3" type="search" name="artist" id="artist1" placeholder="artist...">
    </label>

    <label class="text-white"> Enter Song:
      <input class="px-3" type="search" name="artist" id="artist1" placeholder="song title...">
    </label>
  </form>

</div>

  


  <%- include ('partials/footer') %>
  